<!-- templates/index.html
<!DOCTYPE html>
<html>
<head>
    <title>Snooker Video Stream</title>
</head>
<body>
    <h1>Snooker Video Stream</h1>
    <form method="POST" action="{% url 'index'%}">
    {%csrf_token%}
        <input type='email' name="email" required>
        <button class="btn btn-primary mt-2" type="submit">send</button>
        </form>
</body>
</html> -->
<html>
<head>
    <title>Webcam Stream</title>
</head>
<body>
    <h1>Webcam Stream</h1>
    <img src="{% url 'video_feed' %}" width="640" height="480">
</body>
</html>