<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Snooker Video Stream</title>
</head>
<body>
    <h1>Snooker Video Stream</h1>
    <!-- <img id="video" width="500" height="500" src="{% url 'video_stream' pk=1 %}"> -->
    <img id="video" width="500" height="500">

    <script>
        console.log('pk',pk)
        // Get the primary key value from the server-side or any other source
        var pk ; // Assuming pk is 1 for demonstration purposes
        
        // Construct the URL with the primary key value
        var url = "/video_stream/" + pk + "/"; // Assuming the URL structure
        console.log('pk',pk)

        // Set the src attribute of the img tag with the constructed URL
        document.getElementById("video").src = url;
    </script>
</body>
</html>
